<header>
  <div fxFlexFill style="background-color: #336699">
    <h1 style="text-align: center;">
    {{title}}
    </h1>
  </div>
</header>

<body>
<div style="width: 50%; float: left">
  <h2 style="text-align: center">
    OLYMPIA-EINKAUFSZENTRUM
  </h2>

  <app-departure></app-departure>
  <app-departure></app-departure>
  <app-departure></app-departure>
</div>
<div style="width: 50%;float: right">
  <h2 style="text-align: center">
    DESSAUERSTRASSE
  </h2>
  <app-departure></app-departure>
  <app-departure></app-departure>
  <app-departure></app-departure>

</div>

</body>
